:root {
  --bg: #0a0a0a;
  --fg: #fafafa;
  --muted-fg: #a1a1aa;

  --font-size: 16px;
  --background: #fafafa;
  --foreground: #18181b;
  --card: #ffffff;
  --card-foreground: #18181b;
  --popover: #ffffff;
  --popover-foreground: #18181b;
  --primary: #3178c6;
  --muted: #303132;
  --accent: #3297b1;
  --border: #38393a;
  --primary-foreground: #ffffff;
  --radius: 0.75rem;
  --secondary: #e4e4e7;
  --secondary-foreground: #18181b;
  --muted-foreground: #71717a;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --input: transparent;
  --input-background: #f4f4f5;
  --ring: #3178c6;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

* {
  border-color: var(--border);
}
